<p><%= t User.human_attribute_name('name') %></p>
<p><%= @user.name %></p>

<% if @user.id == current_user.id %>
  <p><%= t User.human_attribute_name('email') %></p>
  <p><%= @user.email %></p>

  <p><%= t User.human_attribute_name('postal_code') %></p>
  <p><%= @user.postal_code %></p>

  <p><%= t 'views.common.address' %></p>
  <p><%= "#{@user.prefecture} #{@user.city} #{@user.street} #{@user.building}" %></p>
<% end %>

<p><%= t User.human_attribute_name('self_introduction') %></p>
<p><%= @user.self_introduction %></p>
