<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
  <%= link_to t('views.follow.followings_count', count: @user.followings.count), followings_user_path(@user) %> | 
  <%= link_to t('views.follow.followers_count', count: @user.followers.count), followers_user_path(@user) %>
</p>

<% unless @user == current_user %>
  <%= form_with(model: @follows, method: @method_type) do |form| %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= form.submit @follow_or_unfollow %>
  <% end %>
<% end %>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
