<p>Name</p>
<p><%= @user.name %></p>

<% if @user.id == current_user.id %>
  <p>Email</p>
  <p><%= @user.email %></p>

  <p>Postal Code</p>
  <p><%= @user.postal_code %></p>

  <p>Prefecture</p>
  <p><%= @user.prefecture %></p>

  <p>City</p>
  <p><%= @user.address_city %></p>

  <p>Street</p>
  <p><%= @user.address_street %></p>

  <p>Building</p>
  <p><%= @user.address_building %></p>
<% end %>

<p>Self Introduction</p>
<p><%= @user.self_introduction %></p>
