<table class="user_profile">
  <tr>
    <th><%= t User.human_attribute_name('name') %></th>
    <td><%= @user.name %></td>
  </tr>
  <% if @user.id == current_user.id %>
  <tr>
    <th><%= t User.human_attribute_name('email') %></th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th><%= t User.human_attribute_name('postal_code') %></th>
    <td><%= @user.postal_code %></td>
  </tr>
  <tr>
    <th><%= t 'views.common.address' %></th>
    <td><%= "#{@user.prefecture} #{@user.city} #{@user.street} #{@user.building}" %></td>
  </tr>
  <% end %>
  <tr>
    <th><%= t User.human_attribute_name('self_introduction') %></th>
    <td><%= @user.self_introduction %></td>
  </tr>  
</table>

<div>
  <%= link_to t('views.common.back'), :back %>
  <% if @user == current_user %>
   |
  <%= link_to t('views.common.user.edit'), edit_user_registration_path %>
  <% end %>
</div>
